/* Dashboard */
#add-movie-container {
    text-align: right;
}

#movies-dashboard .table {
    color: #FFF;
}

#movies-dashboard .table th {
    border-top: none;
}

#movies-dashboard .table tr {
    padding: 15px 0;
}

.table-movie-title {
    color: #FFF;
    font-weight: bold;
    transition: .5s;
}

.table-movie-title:hover {
    color: #F5C518;
}

.actions-column {
    max-width: 75px;
    text-align: center;
}

.actions-column form {
    display: inline-block;
}

.edit-btn,
.delete-btn {
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    font-weight: bold;
    transition: .5s;
    border: none;
}

.edit-btn {
    background-color: #0DCAF0;
    color: #FFF;
}

.edit-btn:hover {
    background-color: transparent;
    color: #0DCAF0;
    text-decoration: none;
}

.delete-btn {
    background-color: #DC2545;
    color: #FFF;
}

.delete-btn:hover {
    background-color: transparent;
    color: #DC2545;
    text-decoration: none;
}