/* Movie */
.movie-container {
    text-align: center;
}

.movie-details {
    margin: 25px 0;
}

.pipe {
    border: 1px solid #333;
    margin: 0 10px;
}

#reviews-title {
    margin-bottom: 25px;
}

#review-form-container {
    background-color: #333;
    padding: 20px;
}

#review-form-container select,
#review-form-container textarea {
    width: 50%;
}

#reviews-container {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 4px solid #F5C518;
    
}

.review {
    padding: 20px 0;
    border-bottom: 1px solid #333;
}

.author-details-container {
    padding-top: 20px;
}

.author-name a {
    color: #F5C518;
}

.comment-title {
    color: #999;
}